%h2 All Resturants

- @resturants.each do |resturant|
  %h4
    = link_to resturant.name, resturant_path(:id => resturant.id)


%h4
  - if current_user.has_role? :admin
    = link_to "Add new Resturant", new_resturant_path
    &nbsp;
    |
    &nbsp;
  = link_to "Back to Homepage", home_index_path
