%h2 All Resturants

- @resturants.each do |resturant|
  %h4
    = link_to resturant.name, resturant_path(:id => resturant.id)


%h5
  - if admin_signed_in?
    - if current_admin.has_role? :super_admin
      = link_to "Add new Resturant", new_resturant_path
      &nbsp;
      |
      &nbsp;
    = link_to "Back to Homepage", home_index_path
  - else
    = link_to "Back to Homepage", home_index_path
