%h3
  = @resturant.name

%h4 This resturant has the following Ingredients :

- if @ingredients.present?
  - @ingredients.each do |ingredient|

    %h4
      = link_to ingredient.name, ingredient

- else
  %p Sorry! There are no ingredients available for this resturant right now.


%h4
  = link_to "Back to all the resturants.", resturants_path
