%h3
  = @resturant.name

%h4 Dishes available in this resturant :  

- if @dishes.present?
  - @dishes.each do |dish|
     
    %h4
      = link_to dish.title, dish

- else
  %p Sorry! There are no dishes available for this resturant right now.


%h4
  = link_to "Back to all the resturants.", resturants_path
