%h1 List of all the ingredients

- @ingredients.each do |ingredient|
  %ul
    %li
      = link_to ingredient.name, ingredient

%h4
  = link_to "Add new Ingredient", new_ingredient_path
  &nbsp;
  |
  &nbsp;
  = link_to "Back to Homepage", home_index_path
