%h3
  These are the dishes made with
  = @ingredients.name
  \:
  %ul
    - @ingredients.dish_ids.each do |dish_id|
      %li
        = link_to @dishes.find(dish_id).title, @dishes.find(dish_id)

  %p These are the resturants where this ingredient is available :
  %ul
    - @resturants.each do |resturant|
      %li
        = link_to resturant.name, resturant

%h5
  = link_to "Back to all Ingredients.", ingredients_path
